flow4.json
[
    {
        "id": "bafbadfb4920635e",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "76b698a418ba921a",
        "type": "mqtt in",
        "z": "bafbadfb4920635e",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "f8e137aa95040713",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "3c180a8d635aa70e"
            ]
        ]
    },
    {
        "id": "3c180a8d635aa70e",
        "type": "json",
        "z": "bafbadfb4920635e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "637fa5ede638e38a",
                "4dfcfb838f1b8bb9"
            ]
        ]
    },
    {
        "id": "637fa5ede638e38a",
        "type": "function",
        "z": "bafbadfb4920635e",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "abe9e436c745a21a"
            ]
        ]
    },
    {
        "id": "4dfcfb838f1b8bb9",
        "type": "debug",
        "z": "bafbadfb4920635e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "46902220b457054e",
        "type": "mqtt out",
        "z": "bafbadfb4920635e",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/msg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8e137aa95040713",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "eec0533ff0cf5fa1",
        "type": "inject",
        "z": "bafbadfb4920635e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"Joe\",\"temp\":29}",
        "payloadType": "str",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "46902220b457054e"
            ]
        ]
    },
    {
        "id": "abe9e436c745a21a",
        "type": "ui_chart",
        "z": "bafbadfb4920635e",
        "name": "",
        "group": "444ed8eca268eece",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura Alumnos",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f8e137aa95040713",
        "type": "mqtt-broker",
        "name": "Broker HIveMQ ",
        "broker": "18.157.172.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "444ed8eca268eece",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "05c7c7a24066e584",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "05c7c7a24066e584",
        "type": "ui_tab",
        "name": "Flow4",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]